<table cellpadding="0" cellspacing="0" border="0" width="100%" style="height: 100%; background-color: #ffffff;font-size: 12px; font-family: Arial;">
<tr>
	<td height="369" align="center" style="width: 100%; height: 100%;">
	<table cellpadding="0" cellspacing="0" border="0" style=" width: 602px; table-layout: fixed; margin: 24px 0 24px 0;">
	<tr>
		<td style="background-color: #ffffff; border: 1px solid #e6e6e6; margin: 0px auto 0px auto; padding: 0px 44px 0px 46px; text-align: left;">
			<table cellpadding="0" cellspacing="0" border="0" width="100%" style="padding: 27px 0px 0px 0px; border-bottom: 1px solid #868686; margin-bottom: 8px;">
			<tr>
				<td align="left" style="padding-bottom: 3px;" valign="middle"><!--<img src="{Logo}" border="0" alt="Shopizee" />--></td>
				<td width="100%" valign="bottom" style="text-align: right;  font: bold 22px Arial; text-transform: uppercase;  margin: 0px;">Bank Deposit Request</td>
			</tr>
			</table>
		
			<table cellpadding="0" cellspacing="0" border="0" width="100%" style="padding: 32px 0px 24px 0px;">
			<tr valign="top">
					<td width="33%" style="font-size: 12px; font-family: Arial;">
					<h3 style="font: bold 17px Tahoma; padding: 0px 0px 3px 1px; margin: 0px;">Make Payment to:</h3><br />
					<h2 style="font: bold 12px Arial; margin: 0px 0px 3px 0px;">Company Name</h2>
					Company Address <br />
					City, State <br />
					Country
					<table cellpadding="0" cellspacing="0" border="0">
										<tr valign="top">
						<td style="font-size: 12px; font-family: verdana, helvetica, arial, sans-serif; text-transform: uppercase; color: #000000; padding-right: 10px;	white-space: nowrap;">Phone:</td>
						<td width="100%" style="font-size: 12px; font-family: Arial;">(xxx) xxxxxx</td>
					</tr>
																									<tr valign="top">
						<td style="font-size: 12px; font-family: verdana, helvetica, arial, sans-serif; text-transform: uppercase; color: #000000; padding-right: 10px; white-space: nowrap;">Website:</td>
						<td width="100%" style="font-size: 12px; font-family: Arial;">website url</td>
					</tr>
															<tr valign="top">
						<td style="font-size: 12px; font-family: verdana, helvetica, arial, sans-serif; text-transform: uppercase; color: #000000; padding-right: 10px; white-space: nowrap;">Email:</td>
						<td width="100%" style="font-size: 12px; font-family: Arial;">email</td>
					</tr>
				  </table>
															
				</td>
																
							</tr>
			</table>
								
		  
					
			<table width="100%" cellpadding="0" cellspacing="1" style="background-color: #dddddd;">
			<tr>
				<th width="35%"  style="background-color: #eeeeee; padding: 6px 10px; white-space: nowrap; font-size: 12px; font-family: Arial;">Bank Name </th>
				<th  style="background-color: #eeeeee; padding: 6px 10px; white-space: nowrap; font-size: 12px; font-family: Arial;">Currency</th>
				<th  style="background-color: #eeeeee; padding: 6px 10px; white-space: nowrap; font-size: 12px; font-family: Arial;">Acc Name</th>
				<th  style="background-color: #eeeeee; padding: 6px 10px; white-space: nowrap; font-size: 12px; font-family: Arial;">Acc Number </th>
			</tr>
			<tr>
					<td style="padding: 5px 10px; background-color: #ffffff; font-size: 12px; font-family: Arial;">Bank Name 1 </td>
					<td style="padding: 5px 10px; background-color: #ffffff; font-size: 12px; font-family: Arial;">Dollars</td>
					<td style="padding: 5px 10px; background-color: #ffffff; font-size: 12px; font-family: Arial;">Acc Name  </td>
					<td style="padding: 5px 10px; background-color: #ffffff; font-size: 12px; font-family: Arial;">Acc # </td>
			</tr>
			<tr>
					<td style="padding: 5px 10px; background-color: #ffffff; font-size: 12px; font-family: Arial;">Bank Name 2 </td>                    
					<td style="padding: 5px 10px; background-color: #ffffff; font-size: 12px; font-family: Arial;">Euro</td>
					<td style="padding: 5px 10px; background-color: #ffffff; font-size: 12px; font-family: Arial;">Acc Name </td>
					<td style="padding: 5px 10px; background-color: #ffffff; font-size: 12px; font-family: Arial;">Acc # </td>
			</tr>
			</table>
		
											
						<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td align="right">
				<table border="0" style="padding: 3px 0px 12px 0px;">
				<tr>
					<td style="text-align: right; white-space: nowrap; font-size: 12px; font-family: Arial;"><b>Subtotal:</b>&nbsp;</td>
					<td style="text-align: right; white-space: nowrap; font-size: 12px; font-family: Arial;">{Currency} {Amount}</td>
				</tr>
				
		
				
				<tr>
					<td colspan="2"><hr style="border: 0px solid #d5d5d5; border-top-width: 1px;" /></td>
				</tr>
				<tr>
					<td style="text-align: right; white-space: nowrap; font: 15px Tahoma; text-align: right;">Total cost:&nbsp;</td>
					<td style="text-align: right; white-space: nowrap; font: 15px Tahoma; text-align: right;"><strong style="font: bold 17px Tahoma;">{Currency} {Amount}</strong></td>
				</tr>
				</table>
				
				
				</td>
			</tr>
			<tr>
			 <td> * <i>Once you have made payment sucessfully into any of our bank accounts, please send us an email with your payment details to notify us</i><br /><br /></td>
			</tr>
			</table>
		
					
					
							
		  </td>
	</tr>
	</table>
	</td>
</tr>
</table>