@font-face {
    font-family: 'MavenProRegular';
    src: url('fonts/maven_pro_regular-webfont.eot');
    src: url('fonts/maven_pro_regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/maven_pro_regular-webfont.woff') format('woff'), url('fonts/maven_pro_regular-webfont.ttf') format('truetype'), url('fonts/maven_pro_regular-webfont.svg#MuliRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: MavenProRegular,Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    background-color: #EBEBEB;
    color: #555;
    height: 100%;
    background-image: url(../images/background.png);
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}

a {
    color: #0084FF;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #0084FF;
    text-decoration: underline;
}

table {
    font-family: MavenProRegular,Trebuchet MS,Arial,Helvetica,sans-serif;
}

/* == Form Elements == */
form {
    display: inline;
    margin: 0;
    padding: 0;
}

input,textarea,select {
    font-family: MavenProRegular,Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: 13px;
    outline: none;
}

inputbox,textarea,input[type="text"],input[type="password"] {
    border: 1px solid #C3C3C3;
    border-radius: 4px;
    color: #666;
    padding: 5px;
}

select {
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 4px 8px;
}

textarea {
    overflow: auto;
}

input[type="text"]:focus,input[type="password"]:focus,textarea:focus {
    border: 1px solid #B4B4B4;
    background-color: #ffc;
    background-image: none;
}

.button,.button-alt,.button-sml,.button-alt-sml {
    border-radius: 5px;
    background-color: #545454;
    border: 1px solid #515151;
    color: #FFF;
    -webkit-box-shadow: 0 1px 3px 2px #ccc;
    -moz-box-shadow: 0 1px 3px 2px #ccc;
    box-shadow: 0 1px 3px 2px #ccc;
    background-image: url(../images/button.png);
    background-repeat: repeat-x;
    background-position: left top;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    text-decoration: none;
    padding: 6px 10px;
}

.button-sml,.button-alt-sml {
    border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 12px;
    text-decoration: none;
    padding: 2px 5px;
}

.button:hover,.button-sml:hover {
    background-position: left -30px;
    background-color: #484848;
    text-decoration: none;
}

.button-alt,.button-alt-sml {
    text-shadow: 1px 1px 10px #fff;
    background-image: url(../images/button-alt.png);
    text-decoration: none;
    border: 1px solid #AAA;
    color: #777;
}

.button-alt:hover,.button-alt-sml:hover {
    background-position: left -30px;
    text-decoration: none;
}

a.button-sml,a.button-alt-sml {
    padding: 3px 6px;
}

a.button,a.button-alt {
    padding: 7px 11px;
}

a:active {
    outline: none;
}

a:focus {
    -moz-outline-style: none;
}

#logoHeader {
    background-color: #979797;
    height: 50px;
}

#adminHeading {
    font-size: 20px;
    color: white;
    font-weight: bold;
    float: right;
    padding: 10px;
}

#adminPopupTitle {
    font-size: 13px;
    font-weight: bold;
}

#agptHeading {
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 10px;
}

#contentMainHeaderCont {
    background-color: #e6e6e6;
    height: 30px;
    padding: 5 0 0 10px;
    font-size: 16px;
    font-weight: bold;
}



/*#menuMainCont{width: 250px;padding: 0 5px;float: left;height: 100%;background-color: black;}*/
#menuMainCont-wrap {
    border: 3px solid #D2D2D2;
    margin-top: 10px;
    margin-bottom: 25px;
    background-color: #FFF;
    border-radius: 5px;
}

#menuMainCont {
    background-color: #F5F5F5;
    border-radius: 5px;
    position: relative;
    margin: 4px;
    padding: 0px;
}

.dropContDiv {
    display: none;
}

.mainMenu {
    padding: 3px 0;
    margin-left: 0;
    margin-top: 1px;
    margin-bottom: 0;
/*font: bold 12px Trebuchet MS;*/
    list-style-type: none;
    text-align: left;
/*set to left, center, or right to align the menu as desired*/;
}

.mainMenu {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.mainMenu .menuMainItem {
    background: url("../images/abbg.gif") left -10px repeat-x white !important;
    background: white;
    margin: 1;
    padding: 5 10 5 10px;
}

.mainMenu .menuMainItem a {
    text-decoration: none;
    padding: 3px 7px;
    margin-right: 3px;
    color: #2d2b2b;
}

.menuMainSubHead {
    background: #e8e8e8;
    background: url("../images/abbg2.gif") bottom right repeat-x #fffff6 !important;
    margin: 1;
    padding: 2 10 2 10px;
    font-size: 13px;
    border: 1px solid white;
    color: #2d2b2b;
}

.menuMainSubHead a {
    text-decoration: none;
    padding: 3px 7px;
    margin-right: 3px;
    color: #2d2b2b;
}

.menuMainSub {
    margin: 1;
    background: #656565;
    padding: 1 10 3 5px;
    font-size: 12px;
}

.menuMainSub a {
    text-decoration: none;
    padding: 3 7 3 0px;
    margin-right: 3px;
    color: white;
}

.menuMainSub a:hover {
    color: orange;
}

/* == Misc == */
.clear {
    font-size: 0;
    line-height: 0;
    clear: both;
    height: 0;
}

ul,li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
    border: 0;
}

.img-wrap,.img-wrap2 {
    display: inline-block;
    background-color: #FFF;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #ccc;
    padding: 3px;
}

.img-wrap2 {
    padding: 1px;
}

.img-wrap2:hover {
    border: 1px solid #888;
    opacity: 0.8;
}

.left,th.left,td.left {
    text-align: left;
}



.right,th.right,td.right {
    text-align: right;
}

.hidden {
    display: none;
}

.wrap {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.box {
    background-color: #FFF;
    padding: 5px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

.border {
    background-image: url(../images/hr2.png);
    background-repeat: repeat-x;
    background-position: top;
}

#avatar {
    position: absolute;
    right: 25px;
    top: 155px;
    border: 1px solid #BCBCBC;
    border-radius: 5px;
    background-color: #FFF;
    padding: 3px;
}


/* == Main Content == */
.wrap {
    width: 1058px;
    margin-right: auto;
    margin-left: auto;
}

#contentMainCont-wrap {
    border: 3px solid #D2D2D2;
    margin-top: 10px;
    margin-bottom: 25px;
    background-color: #FFF;
    border-radius: 5px;
}

#contentMainCont {
    background-color: #F5F5F5;
    border-radius: 5px;
    position: relative;
    margin: 4px;
    padding: 10px;
}

#contentMainCont h1 {
    font-size: 26px;
    line-height: 32px;
    background-image: url(../images/hr2.png);
    background-repeat: repeat-x;
    background-position: bottom;
    color: #999;
    text-shadow: -2px 2px 0 #fff;
    display: block;
    height: 30px;
    margin: 0 0 10px;
    padding: 0 0 10px;
}

#contentMainCont h1 img {
    margin-right: 5px;
    display: inline-block;
    float: left;
}

#contentMainCont h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    text-shadow: #fff -1px 1px 0;
    line-height: 22px;
    color: #777;
}

#contentMainCont .display,.tableS,#contentMainCont .formS {
    width: 100%;
    border: 3px solid #C3C3C3;
    border-radius: 5px;
}

#contentMainCont .utility {
    width: 100%;
    border: 2px solid #C3C3C3;
    border-radius: 8px;
    background-color: #F5F5F5;
}

#contentMainCont p.info {
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #DDD;
    background-image: url(../images/info.png);
    background-repeat: no-repeat;
    background-position: 10px 5px;
    line-height: 1.3em;
    margin: 0 0 10px;
    padding: 5px 5px 5px 30px;
}

#contentMainCont .display thead tr th,.tableS thead tr th,#contentMainCont .formS thead tr th {
    background-color: #DDD;
    padding: 10px 5px;
    text-shadow: 1px 1px 1px #fff;
    background: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
    background: -webkit-linear-gradient(top, #eeeeee 0%,#dddddd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee',endColorstr='#dddddd',GradientType=0);
    background: linear-gradient(top,#eeeeee 0%,#dddddd 100%);
    font-size: 14px;
}

#contentMainCont .display tr td,.tableS tr td,#contentMainCont .formS tr td {
    background-image: url(../images/hr.png);
    background-repeat: repeat-x;
    background-position: top;
    padding: 5px;
}

.tableS thead tr th.tabs{
    background-color: #DDD;
    padding: 0px 0px;
    text-shadow: 1px 1px 1px #fff;
    background: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
    background: -webkit-linear-gradient(top, #eeeeee 0%,#dddddd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee',endColorstr='#dddddd',GradientType=0);
    background: linear-gradient(top,#eeeeee 0%,#dddddd 100%);
    font-size: 14px;
}

#contentMainCont .utility tr td {
    padding: 5px;
}

#contentMainCont .display tr td img,.tableS tr td img,#contentMainCont .formS tr td img {
    margin-left: 5px;
}

#contentMainCont .display tbody tr th,#contentMainCont .formS tbody tr th {
    background-color: #E9E9E9;
    background-image: url(../images/hr.png);
    background-repeat: repeat-x;
    background-position: top;
    white-space: normal;
    padding-right: 5px;
    padding-left: 5px;
    margin: 0;
}

#contentMainCont .display tfoot tr td,#contentMainCont .formS tfoot tr td {
    background-color: #DDD;
    background: -moz-linear-gradient(top, #dddddd 0%, #eeeeee 100%);
    background: -webkit-linear-gradient(top, #dddddd 0%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd',endColorstr='#eeeeee',GradientType=0);
    background: linear-gradient(top,#dddddd 0%,#eeeeee 100%);
}

#contentMainCont .formS tbody tr th {
    text-align: left;
}

#contentMainCont .formS tr.hidden {
    display: none;
}

#contentMainCont .display tr:hover {
    background-color: #fff;
}

#contentMainCont h1 span,#contentMainCont h2 span,#contentMainCont .display thead tr th span,#contentMainCont .formS thead tr th span {
    float: right;
    width: auto;
    text-shadow: none;
}



/* == Messages == */
#msgholder,#alt-msgholder {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 5px;
}

.msgAlert,.msgInfo,.msgError,.msgOk {
    background-image: url(../images/msg-bg.png);
    border: 3px;
    color: #fff;
    -webkit-text-shadow: #444 -1px -1px;
    -moz-text-shadow: #444 -1px -1px;
    text-shadow: #444 -1px -1px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-style: solid;
    padding: 8px 10px;
}

.msgAlert {
    background-color: #7b3700;
    border-color: #4b2b10;
}

.msgAlert span {
    background-image: url(../images/alert-ico.png);
}

.msgInfo {
    background-color: #315862;
    border-color: #29363a;
}

.msgInfo span {
    background-image: url(../images/info-ico.png);
}

.msgError {
    background-color: #801c1c;
    border-color: #721d1d;
}

.msgError span {
    background-image: url(../images/error-ico.png);
}

.msgOk {
    background-color: #486231;
    border-color: #323e26;
}

.msgOk span {
    background-image: url(../images/ok-ico.png);
}

.msgError span,.msgOk span,.msgAlert span,.msgInfo span {
    background-repeat: no-repeat;
    background-position: 0 center;
    display: inline-block;
    padding-right: 5px;
    padding-left: 25px;
    font-weight: 700;
}

.msgError .error li {
    background-image: url(../images/required.png);
    background-repeat: no-repeat;
    background-position: left 6px;
    padding-left: 15px;
    margin-left: 15px;
}

#tooltip {
    color: #444;
    font-size: 12px;
    text-shadow: 1px 1px 0 #fff;
    border: 1px solid #666;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 4px #bbb;
    -webkit-box-shadow: 0 0 4px #bbb;
    box-shadow: 0 0 4px #bbb;
    line-height: 1.2em;
    position: absolute;
    z-index: 100000;
    display: none;
    padding: 5px;
    background-color: #DDD;
    background: -moz-linear-gradient(top, #eee 0%, #ddd 100%);
    background: -webkit-linear-gradient(top, #eee 0%,#ddd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee',endColorstr='#ddd',GradientType=0);
    background: linear-gradient(top,#eee 0%,#ddd 100%);
}

#loader {
    background-image: url(../images/ajax-loader-big.gif);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 20px;
    width: 160px;
    position: absolute;
    z-index: 99;
    display: inline-block;
    top: 15px;
    right: 15px;
}

.tinyMCEcontent {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FFFFFF;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #DDDDDD;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #DDDDDD;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #DDDDDD;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #868686;
    border-top-style: none;
    border-top-width: medium;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

/*Pagination*/

div.pagination {
    padding: 3px;
    margin: 3px;
}

div.pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #AAAADD;
    text-decoration: none;
/* no underline */
    color: #000099;
}

div.pagination a:hover, div.pagination a:active {
    border: 1px solid #000099;
    color: #000;
}

div.pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #000099;
    font-weight: bold;
    background-color: #000099;
    color: #FFF;
}

div.pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #EEE;
    color: #DDD;
}


