@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('fonts/proximanova-regular-webfont.eot');
  src: url('fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/proximanova-regular-webfont.woff') format('woff'),
  url('fonts/proximanova-regular-webfont.ttf') format('truetype'),
  url('fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'uni_sansthin_caps';
    src: url('fonts/uni-sans.thin-caps-webfont.eot');
    src: url('fonts/uni-sans.thin-caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/uni-sans.thin-caps-webfont.woff2') format('woff2'),
         url('fonts/uni-sans.thin-caps-webfont.woff') format('woff'),
         url('fonts/uni-sans.thin-caps-webfont.ttf') format('truetype'),
         url('fonts/uni-sans.thin-caps-webfont.svg#uni_sansthin_caps') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novalight';
    src: url('fonts/proximanovalight-webfont.eot');
    src: url('fonts/proximanovalight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanovalight-webfont.woff2') format('woff2'),
         url('fonts/proximanovalight-webfont.woff') format('woff'),
         url('fonts/proximanovalight-webfont.ttf') format('truetype'),
         url('fonts/proximanovalight-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('fonts/proximanova-bold-webfont.eot');
    src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('fonts/proximanova-bold-webfont.woff') format('woff'),
         url('fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_novasemibold';
    src: url('fonts/proximanova-semibold-webfont.eot');
    src: url('fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
	background: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

a {text-decoration: none;}

.headerContainer{
	width: 100%;
	height: 80px;
	background: #ffffff;
}
.headerInner{
	width: 1000px;
	height: 80px;
	margin: 0 auto;
}
#logo{
	display: inline-block;
	float: left;
	height: 46px;
	width: 194px;
	background: url(images/logo.png) transparent no-repeat center;
	margin-top: 9px;
}
.mainNavRight{
    float: right;
    height: 80px;
}
.navbar{
    margin: 0;

}
.navbar .nav{
    margin: 0;
}
.mainNavRight .navbar-inner{
    background: none;
    padding: 0;
}
.mainNavRight .nav > li {
    text-align: center;
    float: left;
	list-style: none;
	height: 100%;
}
.mainNavRight .nav > li  > a{ 
    margin-left: 10px;
	color: #646b6d;
	padding: 7px 10px;
	text-decoration: none;
	background: none;
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'proxima_nova_rgregular';
    border-radius: 3px;
    margin-top: 25px;
}
.mainNavRight .nav > li  > a.login i{
	background: url(images/iconac1.png) transparent no-repeat center;
	width: 23px; height: 24px;
	display: inline-block;
    float: left;
    margin-top: -3px;
    margin-right: 6px;
}
.mainNavRight .nav > li  > a.login{
	color: #2eb5e7;
	background: transparent;
	padding: 7px 17px;
	border: 1px solid #2eb5e7;
	border-radius: 3px;
}
.mainNavRight .nav > li  > a.register i{
	background: url(images/iconac2.png) transparent no-repeat center;
	width: 23px; height: 24px;
	display: inline-block;
    float: left;
    margin-top: -3px;
    margin-right: 6px;
}
.mainNavRight .nav > li  > a.register{
	color: #2ebf79;
	background: transparent;
	padding: 7px 17px;
	border: 1px solid #2ebf79;
}
.mainNavRight .nav > li > a:hover,
.mainNavRight .nav > li > a:focus{
	color: #ef9a05;
	background: none;
}
.mainNavRight .nav > li  > a.login:hover{
	color: #ffffff;
	background: #2397ce;
}
.mainNavRight .nav > li  > a.register:hover{
	background: #2ebf79;
	color: #ffffff;
}
/**/
.Warrper{
	width: 100%;
	height: 592px;
	background: url(images/bgbanner.png) transparent no-repeat center;
	background-size:  cover;
}
/********bannerContainer*********/
.bannerContainer{
	width: 100%;
	height: 450px;
}
.bannerInner{
	width: 1000px;
	height: 450px;
	margin: 0 auto;
}
.bannerLeft{
	width: 500px;
	height: 450px;
	float: left;
}
.bannerLeft h3{
	font-size: 51px;
	color: #ffffff;
	font-family: 'uni_sansthin_caps';
	text-transform: uppercase;
	margin-right: -139px;
	margin-top: 70px;
	margin-bottom: 30px;
}
.bannerLeft p{
	font-size: 30px;
	color: #ffffff;
	font-family: 'proxima_novalight';
}
.bannerLeft a{
	font-size: 30px;
	color: #ffffff;
	font-family: 'proxima_novalight';
	text-transform: uppercase;
	text-decoration: none;
	width: 272px;
	height: 68px;
	line-height: 68px;
	text-align: center;
	border: 2px solid #ffffff;
	display: inline-block;
	border-radius: 3px;
	margin-top: 20px;
}
.bannerLeft a:hover{
	background: #0c1312;
}
.bannerRight{
	width: 500px;
	height: 450px;
	float: right;
}
.bannerRight div{
	width: 335px;
	height: 90px;    
	padding-top: 20px;
}
.bannerRight .bannerPartRight1{
	background: url(images/iconbanner1.png) transparent no-repeat 19px center;
    padding-left: 126px;
    float: right;
    display: inline-block;
    margin-top: 65px;
}
.bannerRight .bannerPartRight2{
	background: url(images/iconbanner2.png) transparent no-repeat left center;
    padding-left: 80px;
    display: inline-block;
    float: right;
    margin-right: 52px;
    margin-top: 20px;
}
.bannerRight .bannerPartRight3{
	    background: url(images/iconbanner3.png) transparent no-repeat left center;
    padding-left: 80px;
    display: inline-block;
    margin-top: 35px;
    margin-left: 21px;
}
.bannerRight div p{
	font-family: 'proxima_nova_rgregular';
	font-size: 18px;
	color: #ffffff;
	text-transform: uppercase;
}
.bannerRight div p span{
	color: #f6d747;
}
.bannerRight div div{
	width: 213px;
	height: 15px;
	background: url(images/imgbn.png) transparent no-repeat center;
}
/*******jetadContainer********/
.jetadContainer{
	width: 100%;
	height: 142px;
	background: rgba(63, 64, 61, 0.74);
}
.jetadInner{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding-top: 29px;
}
/*********statisticContainer**********/
.statisticContainer{
	width: 100%;
	height: 141px;
	background: url(images/bgstt1.png) transparent no-repeat center;
	background-size: cover;
}
.statisticInner{
	width: 1000px;
	height: 141px;
	margin: 0 auto;
}
.statisticPart{
	float: left;
	width: 25%;
}
.statisticPart h3{
	font-size: 30px;
	color: #25a5d4;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-align: left;
	margin: 45px 0 10px;
}
.statisticPart p{
	font-size: 18px;
	color: #3f494c;
	text-align: left;
	font-family: 'proxima_novalight';
}
/********contentTopContainer********/
.contentTopContainer{
	width: 100%;
	height: 415px;
	background: #ffffff;
}
.contentTopInner{
	width: 1000px;
	height: 415px;
	margin: 0 auto;
	padding-left: 380px;
	background: url(images/imgctn1.png) transparent no-repeat left center;
}
.contentTopInner h3{
	font-size: 36px;
	text-transform: uppercase;
	color: #474a4b;
	font-family: 'proxima_novalight';
	margin: 0;
	padding: 81px 0 18px;
}
.contentTopInner h3 span{
	font-family: 'proxima_nova_rgbold';
}
.contentTopInner p{
	font-family: 'proxima_novalight';
	color: #828f94;
	font-size: 18px;
	line-height: 33px;
    padding-right: 15px;
}
.contentTopInner a{
	font-family: 'proxima_nova_rgregular';
	color: #ffffff;
	font-size: 18px;
    width: 182px;
    height: 55px;
    line-height: 55px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    background: #f6c43c;
    border-radius: 3px;
    margin-top: 6px;
}
.contentTopInner a:hover{
    background: #eab117;
}
/*********referralsContainer**********/
.referralsContainer{
	width: 100%;
	height: 220px;
	background: url(images/bgstt.png) transparent no-repeat center;
	background-size: cover;
}
.referralsInner{
	width: 1000px;
	height: 220px;
	margin: 0 auto;
}
.referralsPart{
	width: 33.333%;
	height: 220px;
	float: left;
	padding-left: 73px;
	padding-top: 63px;
}
.referralsPart h3{
	font-family: 'proxima_nova_rgregular';
	color: #ffffff;
	font-size: 20px;
	margin: 0;
	text-transform: uppercase;
}
.referralsPart p{
	font-family: 'proxima_novalight';
	color: #ffffff;
	font-size: 16px;
}
.referralsPart1{
	background: url(images/iconctn1.png) transparent no-repeat left 65px;
}
.referralsPart2{
	background: url(images/iconctn2.png) transparent no-repeat left 65px;
}
.referralsPart3{
	background: url(images/iconctn3.png) transparent no-repeat left 65px;
}
/********contentBotContainer********/
.contentMidContainer{
	width: 100%;
	height: 411px;
	background: #ffffff;
}
.contentMidInner.contentTopInner{
	background: url(images/imgctn2.png) transparent no-repeat 700px center;
	padding-right: 348px;
	padding-left: 0;
}
.contentMidInner.contentTopInner p{
	margin-top: 20px;
}
/********contentBotContainer********/
.contentBotContainer{
	width: 100%;
	height: 428px;
	background: url(images/bgctn.png) transparent no-repeat center;
	background-size: cover;
}
.contentBotInner{
	width: 1000px;
	height: 428px;
	margin: 0 auto;
}
.contentBotPart{
	width: 25%;
	float: left;
	height: 428px;
	text-align: center;
	padding-top: 200px;
}
.contentBotPart h3{
	font-size: 24px;
	color: #ffffff;
	font-family: 'proxima_novalight';
	text-transform: uppercase;
}
.contentBotPart p{
	font-size: 16px;
	color: #ffffff;
	font-family: 'proxima_novalight';
	margin-top: 20px;
}
.contentBotPart1{
	background: url(images/img1.png) transparent no-repeat center 60px;
}
.contentBotPart2{
	background: url(images/img2.png) transparent no-repeat center 60px;
}
.contentBotPart3{
	background: url(images/img3.png) transparent no-repeat center 60px;
}
.contentBotPart4{
	background: url(images/img4.png) transparent no-repeat center 60px;
}
/********opporContainer*********/
.opporContainer{
	width: 100%;
	height: 213px;
	background: url(images/bgstt1.png) transparent no-repeat center;
	background-size: cover;
}
.opporinner{
	width: 1000px;
	height: 213px;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
}
.opporinner h3{
	color: #474a4b;
	font-size: 36px;
	text-transform: uppercase;
	font-family: 'proxima_novalight';
	margin: 0;
}
.opporinner h3 span{
	font-family: 'proxima_novasemibold';
}
.opporinner a{
	font-family: 'proxima_nova_rgregular';
	width: 425px;
	height: 67px;
	line-height: 67px;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	background: #f6c43c;
	display: inline-block;
	border-radius: 3px;
	font-size: 24px;
	margin-top: 24px;
}
.opporinner a:hover{
	background: #e5b122;
}
/********advertiseContainer***********/
.advertiseContainer{
	width: 100%;
	height: 111px;
	background: #ffffff;
}
.advertiseInner{
	width: 1000px;
	height: 111px;
	margin: 0 auto
}
.advertiseInner table{
	margin-top: 30px;
}
.advertiseInner table{
	float: left;
}
.advertiseInner table:nth-child(2){
	float: right;
}
/********footerContainer*********/
.footerContainer{
	width: 100%;
	height: 135px;
	background: #353f49;
}
.footerInner{
	width: 1000px;
	height: 135px;
	margin: 0 auto;
}
.footerLeft{
	width: 450px;
	float: left;
	height: 135px;
}
.footerLeftTop{
	width: 100%;
	height: 50%;
	padding-top: 45px;
}
.footerLeftTop p{
	font-size: 14px;
	color: #eeeeee;
	margin: 0;
	font-family: 'proxima_nova_rgregular';
}
.footerLeftTop p a{
	color: #eeeeee;
}
.footerLeftBot{
	width: 100%;
	height: 50%;
	padding-top: 10px;
}
.footerLeftBot a{
	font-size: 14px;
	color: #90979e;
	font-family: 'proxima_nova_rgregular';
	text-decoration: none;
}
.footerLeftBot span{
	font-size: 14px;
	color: #90979e;
	font-family: 'proxima_nova_rgregular';
}
.footerRight{
	width: 550px;
	height: 135px;
	float: right;
}
.footerRight{
	width: 550px;
	height: 135px;
	float: right;
}
.footerRight a{
	display:  inline-block;
	background: url(images/payft.png) transparent no-repeat;
	float: right;
	height: 39px;
	margin-left: 7px;
	margin-top: 45px;
}
.footerRight a.solid{
	width: 150px;
	background-position: -384px 0;
}
.footerRight a.bitc{
	width: 123px;
	background-position: -263px 0;
}
.footerRight a.perf{
	width: 172px;
	background-position: -86px 0;
}
.footerRight a.payz{
	width: 75px;
	background-position: 0 0;
}
@media (max-width: 1000px){
  .headerContainer, .Warrper, .bannerContainer, .jetadContainer, .statisticContainer, .contentTopContainer, .referralsContainer, .contentMidContainer, .contentBotContainer, .opporContainer, .advertiseContainer, .footerContainer{
  width: 1000px !important;
 }
 .headerInner, .bannerInner, .contentInner, .jetadInner, .statisticInner, .contentTopInner, .referralsInner, .contentMidInner, .contentBotInner, .opporinner,  .advertiseInner, .footerInner{
   margin: 0 !important;
 } 
}
/*******Account*******/
.payheaderContainer{
	width: 100%;
	height: 103px;
	background: url(images/bgaccount.png) transparent no-repeat center;
	background-size: cover;
}
.payheaderInner{
	width: 1000px;
	height: 103px;
	margin:  0 auto;
}
.payheaderLeft{
	width: 225px;
	height: 103px;
	float: left;
}
.payheaderLeft p{
	width: 100%;
	height: 38px;
	background: #ff7e33;
	line-height: 38px;
	margin: 0;
	padding: 0;
	padding-left: 15px;
	font-size: 18px;
	font-family: 'proxima_nova_rgregular';
	color: #ffffff;
}
.payheaderLeft p span{
	font-family: 'proxima_nova_rgbold';
}
.payheaderLeft div{
	width: 100%;
	height: 65px;
	background: #39da8c;
}
.payheaderLeft div p{
	background: none;
	font-size: 16px;
	font-family: 'proxima_nova_rgregular';
	color: #ffffff;
	line-height: 32px;
    height: 32px;
}
.payheaderLeft div p span{
	font-family: 'proxima_nova_rgregular';
}
.payheaderMid{
	width: 280px;
	height: 103px;
	float: left;
	padding-top: 8px;
	margin-left: 10px;
}
.payheaderMid div{
	width: 100%;
	height: 28px;
	line-height: 32px;
	color: #ffffff;
	font-size: 14px;
	font-family: 'proxima_nova_rgregular';
	padding-left: 24px;
	display: inline-block;
}
.payheaderMid div span{
	float: right;
}
.payheaderMid div.payresgis span{
	color: #58e4a0;
}
.payheaderMid div.payaccess span{
	color: #38b3e0;
}
.payheaderMid div.payserver span{
	color: #ecc731;
}
.payheaderMid div.payresgis{
	background: url(images/iconpayhd1.png) transparent no-repeat left center;
}
.payheaderMid div.payaccess{
	background: url(images/iconpayhd2.png) transparent no-repeat left center;
}
.payheaderMid div.payserver{
	background: url(images/iconpayhd3.png) transparent no-repeat left center;
}
.payheaderRight{
	width: 470px;
	overflow: hidden;
	float: right;
	margin-top: 22px;
}
/*header2*/
.header2Container{
	width: 100%;
	height: 53px;
	background: url(images/bghd2ac.png) transparent no-repeat center;
	background-size: cover;
}
.header2Inner{
	width: 1000px;
	height: 53px;
	margin: 0 auto;
}

.header2Inner .mainNavRight{
    width: 100%;
}
.header2Inner .navbar{
    margin: 0;

}
.header2Inner .navbar .nav{
    margin: 0;
}
.header2Inner .mainNavRight .navbar-inner{
    background: none;
    padding: 0;
}
.header2Inner .mainNavRight .nav > li {
    text-align: center;
    float: left;
	list-style: none;
	height: auto;
}
.header2Inner .mainNavRight .nav > li  > a{ 
    margin-left: 10px;
	color: #ffffff;
	padding: 7px 10px;
	text-decoration: none;
	background: none;
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
	font-family: 'proxima_novasemibold';
    border-radius: 3px;
    margin-top: 12px;
}
.header2Inner .mainNavRight .nav > li  > a.myaccount i{ 
   	background: url(images/iconheaderac1.png) transparent no-repeat left center;
   	width: 23px; height: 24px;
   	display: inline-block;
   	float: left;
    margin-top: -4px;
    margin-right: 4px;
}
.header2Inner .mainNavRight .nav > li  > a.mywallet i{ 
   	background: url(images/iconheaderac2.png) transparent no-repeat left center;
   	width: 23px; height: 24px;
   	display: inline-block;
   	float: left;
    margin-top: -4px;
    margin-right: 4px;
}
.header2Inner .mainNavRight .nav > li  > a.adshare i{ 
   	background: url(images/iconheaderac3.png) transparent no-repeat left center;
   	width: 23px; height: 24px;
   	display: inline-block;
   	float: left;
    margin-top: -4px;
    margin-right: 4px;
}
.header2Inner .mainNavRight .nav > li  > a.manageads i{ 
   	background: url(images/iconheaderac4.png) transparent no-repeat left center;
   	width: 23px; height: 24px;
   	display: inline-block;
   	float: left;
    margin-top: -2px;
    margin-right: 4px;
}
.header2Inner .mainNavRight .nav > li  > a.history i{ 
   	background: url(images/iconheaderac5.png) transparent no-repeat left center;
   	width: 23px; height: 24px;
   	display: inline-block;
   	float: left;
    margin-top: -4px;
    margin-right: 4px;
}
.header2Inner .mainNavRight .nav > li  > a.referrals i{ 
   	background: url(images/iconheaderac6.png) transparent no-repeat left center;
   	width: 23px; height: 24px;
   	display: inline-block;
   	float: left;
    margin-top: -4px;
    margin-right: 4px;
}
.header2Inner .mainNavRight .nav > li  > a i.HDACMT{
   	background: url(images/hdacMT.png) transparent no-repeat right center;
   	width: 11px; height: 7px;
   	display: inline-block;
   	float: right;
    margin-top: 5px;
    margin-left: 6px;
}
.header2Inner .mainNavRight .nav .dropdown-menu{
	background: #34a7d1;
	border: 0;
	border-radius: 0;
    padding: 0;
    margin-top: 6px;
    margin-left: 17px;
}
.header2Inner .mainNavRight .nav .dropdown-menu li{
}
.header2Inner .mainNavRight .nav .dropdown-menu li a{
	text-align: left;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}
.header2Inner .mainNavRight .nav .dropdown-menu li a:hover{
	opacity: 0.8;
	color: #333;
}
.header2Inner.mainNavRight .nav > li > a:hover,
.header2Inner.mainNavRight .nav > li > a:focus{
	color: #ef9a05;
	background: none;
}
/*contentTopACContainer*/
.contentTopACContainer{
	width: 100%;
	overflow: hidden;
	background: #ffffff;
}
.contentTopACInner{
	width: 1000px;
	margin: 0 auto;
	padding-top: 0px;
}
.contentTopACLeft{
	width: 780px;
	float: left;
}
.contentTopACLeft p{
	font-size: 14px;
	color: #0a0e11;
	text-transform: uppercase;
	margin: 0;
}
.contentTopACCrued{
	width: 325px;
	height: 65px;
	border: 1px solid #58e4a0;
	border-radius: 3px;
	line-height: 65px;
	padding: 0 30px;
	float: left;
}
.contentTopACCrued span{
	font-size: 30px;
	color: #58e4a0;
	font-family: 'proxima_novasemibold';
	float: right;
}
.contentTopACSpent{
	overflow: hidden;
	margin-left: 90px;
	display: inline-block;
}
.contentTopACSpent p span.ctnTopACspan1{
	color: #37abd5;
	font-size: 30px;
	font-family: 'proxima_novasemibold';
}
.contentTopACSpent p span.ctnTopACspan2{
	color: #ff7e33;
	font-size: 14px;
	font-family: 'proxima_novasemibold';
}
.ctnchartACC{
	margin-top: 15px;
	margin-left: -50px;
}
.contentTopACRight{
	width: 220px;
	float: right;
	overflow: hidden;
}
.contentTopACRightPart{
	width: 215px;
	height: 117px;
	border: 1px solid #36a9d3;
	margin-bottom: 17px;
	text-align: center;
	padding-top: 20px;
	line-height: 24px;
}
.contentTopACRightPart table {text-align:center; width: 100%;}

.contentTopACRightPart table td {padding: 5px;}

.contentTopACRightPart h3, .contentTopACRightPart div.t{
	font-size: 14px;
	color: #36a9d3;
	font-family: 'proxima_nova_rgregular';
	text-transform: uppercase;
	line-height: 30px;
}
.contentTopACRightPart p, .contentTopACRightPart div.d{
	font-size: 12px;
	color: #788286;
	font-family: 'proxima_nova_rgregular';
}
.contentTopACRightPart a, .contentTopACRightPart div.u{
	font-size: 12px;
	color: #58e4a0;
	font-family: 'proxima_nova_rgregular';
	line-height: 24px;
}
.contentTopACRightPart3{
	margin-bottom: 0;
}
/*contentBotACContainer*/
.contentBotACContainer{
	width: 100%;
	overflow: hidden;
	background: #ffffff;
}
.contentBotACInner{
	width: 1000px;
	margin: 0 auto;
}
.contentBotACLeft{
	width: 660px;
	float: left;
}
.contentBotACTop{
	width: 100%;
	height: 55px;
}
.contentBotACTop a.ctnACdeposit{
	background: #34a7d1;
}
.contentBotACTop a.ctnACreferrals{
	margin-right: 0;
}
.contentBotACTop a{
	width: 150px;
	height: 55px;
	display: inline-block;
	background: #f6c43c;
	line-height: 55px;
	text-align: center;
	font-size: 15px;
	color: #ffffff;
	text-transform: uppercase;
	border-radius: 3px;
	text-decoration: none;
	margin-right: 15px;
}
.contentBotACTop a:hover{
	opacity: 0.8;
}
.contentBotACBot{
	width: 100%;
    overflow: hidden;
    margin-top: 25px;
}
.ctnBotACBPart{
	width: 149px;
	height: 125px;
	border: 1px solid #36a9d3;
	text-align: center;
	float: left;
	padding-top: 40px;
}
.ctnBotACBPart h3{
	font-size: 24px;
	color: #32a5cf;
	font-family: 'proxima_nova_rgbold';
	margin-bottom: 0;
}
.ctnBotACBPart p{
	font-size: 14px;
	color: #34a7d1;
	font-family: 'proxima_novasemibold';
	text-transform: uppercase;
}
.ctnBotACBPart1{
	background: url(images/iconctnac1.png) transparent no-repeat center 20px;
}
.ctnBotACBPart2{
	margin-left: 20px;
	background: url(images/iconctnac2.png) transparent no-repeat center 20px;
}
.ctnBotACBPart3{
	margin: 0 20px;
	background: url(images/iconctnac3.png) transparent no-repeat center 20px;
}
.ctnBotACBPart4{
	background: url(images/iconctnac4.png) transparent no-repeat center 20px;
}
.ctnBotACBPartT{
	border: 1px solid #24d47f;
}
.ctnBotACBPartT h3{
	color: #30d786;
}
.ctnBotACBPartT p{
	color:  #3fcf89;
}

.ctnBotACBPart5{
	background: url(images/iconctnac5.png) transparent no-repeat center 20px;
	margin-top: 20px;
}
.ctnBotACBPart6{
	margin-left: 20px;
	background: url(images/iconctnac6.png) transparent no-repeat center 20px;
	margin-top: 20px;
}
.ctnBotACBPart7{
	margin: 0 20px;
	background: url(images/iconctnac7.png) transparent no-repeat center 20px;
	margin-top: 20px;
}
.ctnBotACBPart8{
	background: url(images/iconctnac8.png) transparent no-repeat center 20px;
	margin-top: 20px;
}
.contentBotACRight{
	width: 340px;
	float: right;
	overflow: hidden;
}
.ctnBotACRightPart{
	width: 323px;
	height: 350px;
	background: #36a9d3;
	font-size: 16px;
	font-family: 'proxima_nova_rgregular';
	color: #ffffff;
	float: right;
	padding: 20px 35px;
	overflow: scroll;
}
.ctnBotACRightPart h3{
	text-transform: uppercase;
}
.ctnBotACRightPart span{
	color: #f6e73c;
}
.recentdepositsACC{
	width: 100%;
	overflow: hidden;
}
.recentdepositsACC h3{
	color: #373737;
	font-size: 24px;
	text-transform: uppercase;
	font-family: 'proxima_nova_rgregular';
}
.recentdepositsACC div{

	color: #36A9D3;

}

.recentdepositsACC div a {color: #36A9D3;
}
.recentdepositsACC div.stt{
	width: 46px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-left: 0;
}
.recentdepositsACC .recentdepositsACCCTN{
	width: 100%;
	margin-top: 5px;
	height: 40px;
	background: #f2f2f2;
	margin-bottom: 20px;
}

.footer-banner{
	width: 100%;
	height: 125px;
	background: #ffffff;
}
.footer-banner-inner{
	width: 1000px;
	height: 125px;
	margin: 0 auto;
	text-align: center;
}
.footer-banner-inner table{
	float: left;
	margin-right: 7px;
}
.footer-banner-inner table:nth-child(3){
	float: right;
	margin-right: 0px;
}
.footer-banner-inner table{
	margin-top: 15px;
}
/*panelContainer*/
.panelContainer{
	width: 100%;
	height: 159px;
	background: url(images/bgstt1.png) transparent no-repeat center;
	background-size: cover;
	display: inline-block;
}
.panelInner{
	width: 1000px;
	height: 159px;
	margin: 0 auto;
}
.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
}
.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 18px;
}
.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.jcarousel li {
    width: 200px;
    float: left;
    margin-right: 8px;
}
.jcarousel img {
    display: block;
    width: 125px;
    height: 125px;
}
.jcarousel-control-prev {
    left: -45px;
    background: url(images/car_left.png) transparent no-repeat center;
}
.jcarousel-control-next {
    right: -45px;
    background: url(images/car_right.png) transparent no-repeat center;
}
.jcarousel-control-prev, .jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
}
/*********LOGIN***********/
.logintitleContainer{
	width: 100%;
	height: 103px;
	background: url(images/bgaccount.png) transparent no-repeat center;
	background-size:  cover;
}
.logintitleInner{
	width: 1000px;
	height: 103px;
	margin: 0 auto;
	text-align: center;
	line-height: 103px;
	text-transform: uppercase;
	font-family: 'uni_sansthin_caps';
	font-size: 51px;
	color: #ffffff;
}
/*logincontentContainer*/

.subContainer{
	width: 100%;

}
.subInner{
	width: 1000px;
	margin: 0 auto;
	padding: 20px 0 40px;
}


.logincontentContainer{
	width: 100%;
	overflow: hidden;
}
.logincontentInner{
	width: 1000px;
	margin: 0 auto;
	padding: 120px 0 40px;
}
.login_form{
	width: 472px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}
.login_form img.lgTitle{
	position: absolute;
	width: 192px;
	height: 192px;
	top: -95px;
    left: 136px;

}
.login_form form{
	width: 100%;
	background: url(images/bgctnlg.png) transparent no-repeat center;
	padding-top: 125px;
	overflow: hidden;
	padding-bottom: 30px;
	margin-bottom: 0px;
}
.login_form form .form_group{
	width: 275px;
	margin: 0 auto;
	margin-bottom: 10px;
	text-align: center;
}
.login_form form .form_group input{
	width: 100%;
	height: 48px;
	border-radius: 3px;
	border: 0;
	padding: 0 10px;
	color: #888890;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.login_form form .form_group img{
	float: left;
}
.login_form form .form_group input#captcha_login{
	width: 118px;
	height: 48px;
	float: right;
	margin-top: 5px;
}
.login_form form .form_group a{
	color: #ffffff;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	float: left;
	margin: 15px 0;
}
.login_form form .form_group input[type=submit]{
	color: #ffffff;
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	float: left;
	width: 179px;
	height: 51px;
	background: #58e4a0;
}
.login_form form .form_group input[type=submit]:hover{
	background: #44d991;
}
.footerLogin{
	width: 100%;
	height: 88px;
	background: url(images/bgctnlg1.png) transparent no-repeat center;
	background-size: cover;
}
.footerLogin a{
	color: #ffffff;
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	line-height: 88px;
	text-transform: uppercase;
}
.footer-banner-sub-container2{
	background: url(images/bgstt1.png) transparent no-repeat center;
	background-size: cover;
	height: 159px;
}
.footer-banner-sub-container-inner2{
	height: 159px;
	padding-top: 0px;
}
/***********ABOUT**************/
.aboutContainer{
	width: 100%;
	overflow: hidden;
}
.aboutInner{
	width: 1000px;
	margin: 0 auto;
	padding: 50px 0;
}
.aboutTop{
	width: 100%;
	padding-left: 500px;
	background: url(images/imgabout.png) transparent no-repeat left center;
}
.aboutTop h3{
	font-size: 36px;
	color: #474a4b;
	font-family: 'proxima_novalight';
	text-transform: uppercase;
}
.aboutTop p{
	font-size: 18px;
	color: #828f94;
	font-family: 'proxima_novalight';
	text-align: justify;
}
.aboutBot{
	width: 100%;
	overflow: hidden;
}
.aboutBotPart{
	width: 313px;
	float: left;
	margin-right: 29px;
	margin-top: 40px;
	margin-bottom: 30px;
}
.aboutBotPart div{
	width: 100%;
	height: 64px;
	line-height: 64px;
	padding-left: 70px;
	color: #474a4b;
	font-size: 30px;
	font-family: 'proxima_novalight';
	text-transform: uppercase;
	margin-bottom: 10px;
}
.aboutBotPart p{
	color: #828f94;
	font-size: 18px;
	font-family: 'proxima_novalight';
	text-align: justify;
}
.aboutBotPart1 div{
	background: url(images/iconabout.png) transparent no-repeat left center;
}
.aboutBotPart2 div{
	background: url(images/iconabout1.png) transparent no-repeat left center;
}
.aboutBotPart3{
	margin-right: 0;
}
.aboutBotPart3 div{
	background: url(images/iconabout2.png) transparent no-repeat left center;
}
/***************HOWTO***************/
.howtoContainer{
	width: 100%;
	overflow: hidden;
	padding: 40px 0;
}
.howtoInner{
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
.howto1{
	width: 100%;
	height: 450px;
	padding: 28px 28px 20px 40px;
	background: url(images/imghowto.png) #f1f1f3 no-repeat 419px  center;
	padding-right: 614px;
	text-align: center;
}
.howto1 h3{
	color: #474a4b;
	font-size: 30px;
	font-family: 'proxima_novalight';
	text-transform: uppercase;
	line-height: 45px;
	margin-top: 40px;
}
.howto1 a{
	width: 332px;
	height: 93px;
	color: #ffffff;
	background: #22a2d1;
	font-size: 30px;
	font-family: 'proxima_novalight';
	text-transform: uppercase;
	line-height: 93px;
	text-align: center;
	display: inline-block;
	border-radius: 3px;
	text-decoration: none;
	margin-top: 30px;
}
.howto1 a:hover{
	background: #0e8ab8;
}
/*howto2*/
.howto2{
	width: 100%;
	height: 138px;
	background: url(images/bgctn.png) transparent no-repeat center;
	background-size:  cover;
}
.howto2 p{
	width: 700px;
	float: left;
	font-size: 30px;
	font-family: 'proxima_novalight';
	font-size: 24px;
	color: #ffffff;
    margin: 0;
    padding-left: 20px;
    margin-top: 31px;
}
.howto2 div{
	width: 300px;
	height: 138px;
	float: right;
}
.howto2 div a{
	width: 242px;
	height: 77px;
	display: inline-block;
	text-decoration: none;
	background: #ffca03;
	border-radius: 3px;
	text-align: center;
	line-height: 77px;
	margin-top: 30px;
	margin-left: 30px;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 30px;
	font-family: 'proxima_novalight';
}
.howto2 div a:hover{
	background: #eebd04;
}
/*howto3*/
.howto3{
	width: 100%;
	height: 290px;
	background: url(images/imghowto1.png) #f1f1f3 no-repeat 15px center;
	padding-left: 545px;
}
.howto3 h3{
	color: #474a4b;
	font-size: 30px;
	font-family: 'proxima_novalight';
	text-transform: uppercase;
	margin: 0;
    padding-top: 63px;
    margin-bottom: 20px;
}
.howto3 p{
	color: #675a5a;
	font-size: 18px;
	font-family: 'proxima_novalight';
	margin: 0;
	line-height: 30px;
}
/*howto4*/
.howto4{
	width: 100%;
	height: 204px;
}
.howto41{
	width: 50%;
	height: 204px;
	background: url(images/bgstt.png) transparent no-repeat center;
	background-size: cover;
	float: left;
	font-size: 36px;
	font-family: 'proxima_novalight';
	color: #ffffff;
	padding: 0 29px;
	padding-top: 25px;
}
.howto41 span{
	font-family: 'proxima_nova_rgbold';
}
.howto42{
	width: 50%;
	height: 204px;
	background: url(images/bghow.png) transparent no-repeat center;
	background-size: cover;
	float: right;
	font-size: 24px;
	font-family: 'proxima_novalight';
	color: #ffffff;
	padding: 0 39px;
	padding-top: 25px;
}
/*howto5*/
.howto5{
	width: 100%;
	height: 265px;
	background: url(images/imghowto2.png) #f1f1f3 no-repeat 545px center;
	padding-right: 529px;
	text-align: center;
	font-size: 30px;
	color: #474a4b;
	font-family: 'proxima_novalight';
	padding-left: 40px;
	padding-top: 55px;
}
.howto5 span{
	font-family: 'proxima_nova_rgbold';
}
/*howto6*/
.howto6{
	width: 100%;
	height: 284px;
	background: url(images/imghowto3.png) #f7f7f9 no-repeat 159px center;
	padding-left: 380px;
	padding-right: 80px;
	text-align: center;
	font-size: 36px;
	color: #474a4b;
	font-family: 'proxima_novalight';
	padding-top: 85px;
}
.howto6 span{
	color: #f47b46;
	font-family: 'proxima_nova_rgbold';
}
/*howto7*/
.howto7{
	width: 100%;
	height: 140px;
}
.howto71{
	width: 50%;
	height: 140px;
	background: url(images/bgstt.png) transparent no-repeat center;
	background-size:  cover;
	font-size: 48px;
	color: #ffffff;
	font-family: 'proxima_nova_rgbold';
	line-height: 140px;
	text-align: center;
	float: left;
}
.howto72{
	width: 50%;
	height: 140px;
	background: url(images/bghow2.png) transparent no-repeat center;
	background-size:  cover;
	float: right;
}
.howto72 i{
	width: 101px;
	height: 140px;
	background: url(images/iconhowto.png) transparent no-repeat left center;
	display: inline-block;
	float: left;
	margin-left: 50px;
}
.howto72 a{
	font-size: 36px;
	color: #ffffff;
	font-family: 'proxima_novalight';
	line-height: 140px;
	text-transform: uppercase;
	display: inline-block;
	margin-left: 30px;
}

.howto72:hover {background:#E57849;}

.howto72 a:hover {text-decoration:none;}

/**********register***********/
.registercontentContainer{
	width: 100%;
	overflow: hidden;
}
.registercontentInner{
	width: 1000px;
	margin: 0 auto;
	padding: 50px 0;
}
.register_form{
	width: 857px;
	background: url(images/bgrg.jpg) transparent no-repeat center ;
	background-size: cover;
	margin: 0 auto;
}
.register_form form{
	width: 100%;

	padding: 30px;
	overflow: hidden;
}
.register_form form .registerformTitle{
	width: 100%;
	margin-bottom: 20px;
	overflow: hidden;
}
.register_form form .registerformTitle h3{
	width: 374px;
	float: left;
	text-align: center;
	color: #ffffff;
	margin: 0;
	border-bottom: 1px solid #ffffff;
	margin: 0 10px;
	padding-bottom: 10px;
}
.register_form form .registerformTitle h3.registerformTitleh3{
	margin-right: 0;
	width: 383px;
}
.register_form form .form_group{
	width: 50%;
	float: left;
	height: 47px;
	margin-bottom: 15px;
}
.register_form form .form_group label{
	width: 135px;
	height: 47px;
	float: left;
	margin-left: 20px;
	line-height: 47px;
	color: #ffffff;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.register_form form .form_group input, .register_form form select{
	width: 229px;
	height: 47px;
	float: right;
	margin-right: 10px;
	border-radius: 3px;
	border: 0;
	padding: 0 10px;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.register_form form .registerformTitle1 h3{
	margin-left: 234px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.register_form form .form_group.checkbox{
	margin-bottom: 0;
}
.register_form form .form_group.checkbox p{
	color: #ffffff;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.register_form form .form_group input[type=checkbox]{
	width: 16px;
	height: 16px;
	float: left;
    margin-left: 120px;
    margin-top: 2px;
}

.register_form form .form_group input[type=submit]{
	color: #ffffff;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width: 166px;
	height: 47px;
	background: #58e4a0;
	float: right;
}
.register_form form .form_group input[type=submit]:hover{
	background: #44d991;
}

.form_title {
	text-align: center;
	line-height: 103px;
	text-transform: uppercase;
	font-family: 'uni_sansthin_caps';
	font-size: 51px;
	color: #ffffff;
	margin-top: -120px;
	display: block;
	margin-bottom: 30px;
}

.table_2 th {
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
	background: #46ca89;
	font-weight: bold;
	padding: 10px 7px;
	height: 25;
	text-transform: uppercase;
}

/*plans*/
.planscontentContainer{
	width: 100%;
	overflow: hidden;
}
.planscontentInner{
	width: 1000px;
	margin: 0 auto;
	padding: 50px 0;
}
.plansPart{
	width: 100%;
	overflow: hidden;
}
.plansPartTitle{
	width: 100%;
	height: 67px;
	background: url(images/bgstt.png) transparent no-repeat center;
	background-size: cover;
	color: #ffffff;
}
.plansPartTitle h3{
	width: 50%;
	padding: 0;
	height: 67px;
	float: left;
	line-height: 67px;
	text-transform: uppercase;
	font-size: 30px;
	font-family: 'proxima_nova_rgregular';
	padding-left: 20px;
	margin: 0;
}
.plansPartTitle p{
	width: 50%;
	padding: 0;
	height: 67px;
	float: right;
	line-height: 67px;
	font-size: 20px;
	font-family: 'proxima_nova_rgregular';
	padding-right: 10px;
	margin: 0;
	text-align: right;
}
.plansPartContent{
	width: 100%;
	height: 364px;
}
.plansPartLeft{
	width: 370px;
	height: 364px;
	background: url(images/bgplansleft.png) transparent no-repeat center;
	background-size: cover;
	float: left;
	padding: 30px 18px;
}
.plansPartLeft div{
	width: 121px;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	float: left;
	font-family: 'proxima_nova_rgregular';
	font-size: 20px;
	color: #ffffff;
	margin-right: 5px;
	margin-bottom: 5px;
}
.plansPartLeft span{
	width: 207px;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	text-transform: uppercase;
	display: inline-block;
	background: #31a26a;
	font-family: 'proxima_nova_rgregular';
	font-size: 20px;
	color: #ffffff;
	margin-bottom: 5px;
}
.plansPartLeft p{
	font-family: 'proxima_nova_rgregular';
	font-size: 14px;
	color: #535756;
	margin-top: 15px;
}
.plansdiv1{
	background: #393f3d;
}
.plansdiv2{
	background: #217999;
}
.plansdiv3{
	background: #99217b;
}
.plansdiv4{
	background: #e36d0d;
}
.plansdiv5{
	background: #ce1317;
}
.plansPartRight{
	width: 630px;
	height: 364px;
	background: url(images/bgplanright.png) transparent no-repeat center;
	background-size: cover;
	float: right;
}
.plansPartRight div{
	width: 471px;
	height: 56px;
	background: url(images/iconplans.png) #31a26a no-repeat 25px center;
	border-radius: 3px;
	padding-left: 77px;
	line-height: 56px;
	color: #ffffff;
	margin: 40px auto 30px;
}
.plansPartRight ul{
	width: 430px;
	color: #ffffff;
	margin: 0px auto;
	padding: 0;
}
.plansPartRight ul li{
	list-style: none;
	border-bottom: 1px solid #808584;
	font-size: 18px;
	font-family: 'proxima_nova_rgregular';
    line-height: 40px;
    padding-left: 15px;
}
.plansPartRight ul li:last-child{
	border-bottom: 0;
}
.plansPartRight ul li span{
	width: 190px;
	text-align: left;
	float: right;
}
.plansPartFooter{
	width: 100%;
	height: 155px;
	background: url(images/bgstt.png) transparent no-repeat center;
	background-size: cover;
}
.plansPartFooter .plansPartFooterLeft{
	width: 136px;
	height: 155px;
	background: url(images/imgplans.png) transparent no-repeat center;
	float: left;
    margin-left: 30px;
    display: inline-block;
}
.plansPartFooter .plansPartFooterRight{
	width: 800px;
	height: 155px;
	float: right;
	padding: 25px 0;
}
.plansPartFooter .plansPartFooterRight h3{
	font-size: 48px;
	font-family: 'proxima_nova_rgbold';
	color: #ffffff;
	margin: 0;
}
.plansPartFooter .plansPartFooterRight p{
	font-size: 14px;
	font-family: 'proxima_nova_rgregular';
	color: #ffffff;
	margin: 0;
	float: left;
	margin-top: 10px;
}
.plansPartFooter .plansPartFooterRight p.plbased{
	
}
.plansPartFooter .plansPartFooterRight p.plcurrent{
	margin-left: 80px;
}
.plansPartFooter .plansPartFooterRight p.plpercentace{
	margin-left: 60px;
}

/****** custom css *****/
.faqpage h2 ,.term_page h2 {
    text-align: center !important;
    margin-bottom: 30px !important;
}

.faqpage p,.term_page p{
    margin-bottom: 30px !important;
}
.table_1 th
{
	background: #39d98b !important;
	line-height: 60px !important;
	font-size: 16px !important;
}
.table_1 tr:nth-child(even) td
{
	
	background: #FFFFFF !important;
} 
.table_1 img {
    max-width: 180px;
}
.table_1 td
{
	border: 1px solid #36A9D3!important;
    
}
.plansPartRight
{
	background: transparent url("images/bgaccount.png") no-repeat scroll center center / cover !important;
}

.plansPartLeft {
    background: transparent url("images/bgaccount.png") no-repeat scroll center center / cover !important;
    }
 
.plansPartLeft p {
    color: #fff !important;
}
.plansPartRight ul li
{
	line-height: 37px !important;
}
.plansPartTitle
{
	background-color:#99217B !important;
	background-image: none !important;
}
.plansPartFooter
{
	    background-color: #99217B !important;
	    background-image: none !important;
}