#shadow {
    width: 1010px;
    margin: 0 auto;
    overflow: hidden;
}

body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background: #fff url(../images/bg.gif) top repeat-x fixed;
}

body, td {
    font-size: 12px;
    font-family: Arial;
    color: #494C56;
}

a:link {
    color: #406992;
    text-decoration: underline;
}

a:visited {
    color: #406992;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    color: #081C30;
}

a:active {
    text-decoration: none;
    color: #081C30;
}

h2 {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #E5E5E5;
    padding-left: 5px;
    font-weight: normal;
    font-size: 24px;
    margin-top: 0;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.box1t {
    background: url(../images/box1_01.gif) no-repeat;
    padding: 0 0 0 10px;
    font-family: Verdana;
    font-size: 15px;
    color: #FFFFFF;
}

.box1m {
    background: url(../images/box1_02.gif) no-repeat;
    padding: 0 0 0 10px;
    font-family: Verdana;
    font-size: 15px;
    color: #FFFFFF;
}

.box1c {
    border-bottom: 1px solid #BABABA;
    color: #BABABA;
    font-family: Arial;
    font-size: 12px;
    color: #406992;
    font-weight: bold;
    padding: 1px 0 0 26px;
    background: #F6F6F6;
}

.box1c a {
    color: #081C30;
    text-decoration: none;
}

.box1c a:hover {
    text-decoration: none;
    color: #3897BA;
}

.box1c a:active {
    text-decoration: none;
    color: #3897BA;
}

.box1c a:visited {
    color: #081C30;
    text-decoration: none;
}

.box2t {
    background: url(../images/box2_01.gif) no-repeat;
    padding: 0 0 0 10px;
    font-family: Verdana;
    font-size: 15px;
    color: #FFFFFF;
}

.box2m {
    background: url(../images/box2_02.gif) no-repeat;
    padding: 0 0 0 10px;
    font-family: Verdana;
    font-size: 15px;
    color: #FFFFFF;
}

.box3 {
    border: 1px solid #BABABA;
    background: #fff;
}

.box3t {
    background: #F1F1F1;
    border-top: 2px solid #ffffff;
    padding: 0 0 0 10px;
    font-family: Arial;
    font-size: 13px;
    color: #555555;
    font-weight: bold;
}

.box3c {
    padding: 15px 0;
}

.bbox {
    font-size: 12px;
    font-family: Arial;
    color: #494C56;
    line-height: 1.5em;
    background: url(../images/bbox_01.gif) top no-repeat;
    padding-top: 15px;
    text-align: justify;
}

.bbox2t {
    font-size: 15px;
    font-family: Arial;
    color: #494C56;
    background: url(../images/bbox2_01.gif) no-repeat;
    padding: 2px 0 0 13px;
    font-weight: bold;
}

.bbox2c {
    font-size: 12px;
    font-family: Arial;
    color: #494C56;
    line-height: 1.5em;
    background: url(../images/bbox_02.gif);
    padding-top: 25px;
    text-align: justify;
}

.loginform {
    font-size: 12px;
    font-family: Tahoma;
    color: #000000;
}

.input {
    font-size: 12px;
    font-family: Arial;
    color: #000000;
    background-color: #F2F2F2;
    border: 1px #DFDFDF solid;
}

/* TopMenu */

#topmenu,
#topmenu ul,
#topmenu li #topmenu a {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
    font-family: Helvetica;
    line-height: 1;
}

#topmenu {
    width: auto;
    margin: 10px 13px 0px 13px;
}

#topmenu ul {
    zoom: 1;
    background: #64BEE0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid  #0099CC;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

#topmenu ul:before {
    content: '';
    display: block;
}

#topmenu ul:after {
    content: '';
    display: table;
    clear: both;
}

#topmenu a,
#topmenu a:link,
#topmenu a:visited {
    padding: 15px 20px;
    display: block;
    text-decoration: none;
    color: #ffffff;
}

#topmenu a:hover {
    color: #ffffff;
}

#topmenu li {
    float: left;
    border-right: 1px solid #0099CC;
}

#topmenu li:hover {
    background: #0099CC;
}

#topmenu li:first-child {
    border-left: none;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

/* TopMenu Modification */

#topmenu ul {
  display: table;
  width:100%;
}

#topmenu ul li{
  float:none;
  display: table-cell;
  text-align:center;
}

#topmenu li.last {
  border-right: none;
}

#topmenu li.last a,
#topmenu li.last a:link,
#topmenu li.last a:visited {
  border-right: none;
}

#topmenu li.active  {
  background: #0099CC;
}

#topmenu li.active a {
  color: #ffffff;
}

/* SideMenu */

#sidemenu {
    margin: 2px 11px 0px 0px;
    padding: 0px;
    float: left;
    width: 280px;
}

#sidemenu ul {
    font-size: 16px;
    font-weight: 700;
    line-height: 38px;
    margin: 0px;
    padding: 0px;
    width: 280px;
    list-style: none;
}

#sidemenu li {
    margin: 0px;
    padding: 0px 0px 2px;
    width: 280px;
    background: #f7f7f7;
}

#sidemenu li span {
    color: #ffffff;
	/*text-transform: uppercase;*/
    background: url(../images/bg_menu_li_span.png) no-repeat left top;
    margin: 0px;
    padding: 0px 10px;
    height: 38px;
    display: block;
    cursor: pointer;
}

#sidemenu li span span {
    background: url(../images/icon_menu_close.png) no-repeat right center !important;
    margin: 0px;
    padding: 0px;
    width: auto;
    border: 0px;
}

#sidemenu li.active span span {
    background: url(../images/icon_menu_open.png) no-repeat right center !important;
}

#sidemenu li ul {
    margin: 2px 0px 0px;
    padding: 0px;
    width: 278px;
    list-style: none;
    display: none;
}

#sidemenu li ul li {
    font-size: 13px;
    font-weight: 400;
    line-height: 27px;
    margin: 0px;
    padding: 1px;
    height: 27px;
    width: 276px;
    border-bottom: 1px solid #e1e1e1;
}

#sidemenu li ul li a {
    color: #3f3f3f;
    text-decoration: none;
    display: block;
    margin: 0px 20px;
    padding: 0px 0px 0px 0px;
    height: 27px;
    transition: none;
    font-size: 12px;
}

#sidemenu li ul li a:hover {
    background: #e9e9e9;
}

#sidemenu li ul li:hover {
    background: #e9e9e9;
}

/* Footer */

.footer {
    font-size: 12px;
    font-family: Arial;
    color: #454545;
    padding: 17px 20px 0 20px;
}

.footer a:link {
    color: #454545;
    text-decoration: underline;
}

.footer a:visited {
    color: #454545;
    text-decoration: underline;
}

.footer a:hover {
    color: #454545E;
    text-decoration: none;
}

.footer a:active {
    color: #454545;
    text-decoration: none;
}

